@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-wrapper {
  transition-timing-function: linear !important;
}


.sora-700 {
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.sora-600 {
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.sora-500 {
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.sora-400 {
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.sora-300 {
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}